services:
  validator:
    image: entrius/gittensor:latest
    container_name: gt-vali
    restart: unless-stopped
    entrypoint: /app/scripts/vali-entrypoint.sh
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    volumes:
      # 'ro' = readonly
      - ${WALLET_PATH}:/home/gittensor/.bittensor/wallets:ro
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower:latest
    container_name: gittensor-watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      WATCHTOWER_POLL_INTERVAL: 200
      WATCHTOWER_LABEL_ENABLE: "true"
      WATCHTOWER_CLEANUP: "true"
